* {
  box-sizing: border-box;
}

body {
	font-family: 'Single Day', cursive;
	color: #75485E;
	text-align: center;
}

.header{
	text-align: center;
	font-size: 3vw;
}
.header a{
	color: #75485E;
	font-size:2vw;
}
